/* "Tamming" Box Model With Reset */

html {

}

/* Universal Styles */

html {
  font-size: 18px;
  color: gray;
}

body {
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3, h4 {
  color: darkslategray;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

p , span{
  line-height: 1.4;
}

.container {

}

/* Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
  padding-right: 8px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
}

.logo img {
  height: 100%;
}

.logo span {
  margin: 0;
  color: gray;
}

#colmar {
  font-weight: bold;
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 16px;
  background-color: white;
}

nav li a {
  color: black;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/* Main Banner */

.main-banner {
  max-width: 100%;
  margin-top: 64px;
  background-color: lightgray;
  display: flex;
  padding: 32px 0px 32px 24px;
}

.main-image {
  max-width: 60%;
  height: auto;
  display: flex;
  padding-right: 24px;
}

.main-image img{
  width: 100%;
  height: auto;
}

.headline {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline h1 {
  margin:0;
  width: 100%;
}

.headline h3 {
  font-size: 1.5rem;
  padding: 2rem 0;
  width: 100%;
}

.headline a {
  text-decoration: none;
  color: white;
}

.startbutton {
  background-color: darkslategray;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}



@media only screen and (max-width: 480px) {
  .main-banner {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .main-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .main-banner img {
    width: 100%;
    height: 50%;
  }

  .headline {
    margin: 32px 16px;
    padding: 0;
  }
}

/* Academy Info */

.academy-info {
  max-width: 100%;
  background-color: white;
  display: flex;
  padding: 0px 0px 0px 24px;
}

.featured-story {
  max-width: 60%;
  display: flex;
  flex-direction: column;

}

.featured-story img {
  width: 100%;
  height: auto;
  padding: 32px 0px 0px 0px;
}

.featured-story h2 {
  margin: 32px 0px 24px 0px;
  width: 100%;
}

.featured-story p {
  width: 100%;
  margin: 0px;
  padding-bottom: 32px;
}

#signature {
  color: black;
  padding-bottom: 32px;
}

.information {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 16px;
  padding-left: 0px;
  border-left: solid 1px lightgray;
}

.bulletin {
  display: flex;
  max-width: 100%;
  padding: 16px 0px 16px 16px;
}

.bulletin-image {
  width: 150px;
  height: 150px;
  margin-right: 16px;
}

.bulletin-image img {
  width: 100%;
  height: 100%;
}

.bulletin ul {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.bulletin .description {
  text-align: left;
}

.bulletin a {
  text-decoration: none;
}

.bulletin:nth-child(3){
  background: lightgray;
}

@media only screen and (max-width: 480px) {
  .academy-info {
    padding: 0px;
  }

  .featured-story {
    display: none;
  }

  .information {
    max-width: 100%;
    margin: 0px;
    padding: 16px 16px 0px 16px;
  }


  .bulletin {
    width: 100%;
    flex-direction: column;
    padding: 0px;
  }

  .bulletin-image {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .bulletin ul {
    margin: 32px 0px 32px 16px;
  }

  .bulletin:nth-child(3){
    background: white;
  }

}

/* Course Categories */

.course-info {
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-heading h2 {
  text-align: center;
  margin: 32px 0px;
}

.focus-areas {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0px 0px;
  justify-content: center;
}

.focus-area {
  background-color: white;
  margin-bottom: 32px;
  margin-right: 32px;
  width: 333px;
}

.course-image img {
  max-width: 100%;
}

.description-container {
  max-width: 100%;
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  color: gray;
}

.course-heading {
  font-weight: bold;
  color: black;
}

.subheading {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 480px) {
  .course-info {
    background-color: white;
    border: 1px solid gray;
    padding: 0px 16px;
  }

  .course-heading h2 {
    text-align: center;
    margin: 32px 0px 16px 0px;
  }

  .focus-areas {
    width: 100%;
    margin: 0px 0px;
  }

  .focus-area {
    background-color: lightgray;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 0px 24px 16px;
  }

  .course-image {
    display: none;
  }

  .description-container {
    width: 100%;
    padding: 0px;
  }

  .course-heading {
    font-weight: bold;
    color: black;
  }

  .subheading {
    display: none;
  }

  .description-container .description {
    display: none;
  }

  .course-heading h4 {
    font-weight: normal;
  }

}

/* Thesis Exhibit */

.thesis-exhibit {
  max-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 32px 24px;
}

.thesis-heading {
  width: 100%;
  text-align: center;
  padding: 32px 0px;
}

.studies {
  display: flex;
  align-items: flex-start;
}

.featured-study {
  width: 60%;
  display: flex;
  flex-direction: column;

}

.featured-study video {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}

.featured-study h3 {
  margin: 32px 0px 24px 0px;
  width: 100%;
}

.featured-study p {
  width: 100%;
  margin: 0px;
}

.more-studies {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 16px;
  padding-left: 16px;
}

.study {
  display: flex;
  max-width: 100%;
  padding: 16px 0px 16px 16px;
}

.study-image {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.study-image img {
  width: 100%;
  height: 100%;
}

.study ul {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.study h3 {
}

.study .description {
  text-align: left;
}

.study:nth-child(1){
  background: lightgray;
}

@media only screen and (max-width: 480px) {

  .thesis-exhibit {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 24px 0px;
  }

  .thesis-heading {
    width: 100%;
    text-align: center;
    padding: 32px 0px 16px 0px;
  }

  .studies {
    display: flex;
    align-items: flex-start;
  }

  .featured-study {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .featured-study video {
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
  }

  .featured-study h3 {
    display: none;
  }

  .featured-study p {
    display: none;
  }

  .more-studies {
    display: none;
  }

}

/* Footer */

footer {
  max-width: 100%;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
}

footer span {
}

footer a {
  text-decoration: none;
  color: gray;
}

@media only screen and (max-width: 480px) {
  footer {
    max-width: 100%;
    padding: 16px 24px;
  }

  footer .copyright-links {
    display: none;
  }
}
